@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-darker: #020617;
  --color-primary: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-card: #1e293b;
}

body {
  @apply bg-darker text-slate-200 antialiased font-sans;
}

/* Custom Scrollbar for Alert Panel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
